.NavMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.NavMenu li {
  margin: 0 20px;
  font-size: 18px;
}

.NavMenu a {
  color: rgb(78, 138, 78);
}

.MenuLink {
  text-decoration: none;
  display: inline-block;
  padding: 14px 10px;
}

a.active {
  color: orange;
}
